<mat-sidenav-container class="sidebar">
  <mat-sidenav #sidenav
              mode="side"
              [opened]="isOpened">
    <div class="sidebar-button">
      <mat-icon class="icon-button" (click)="toggleSidebar()">menu</mat-icon>
      <span *ngIf="isOpened" class="label-button" (click)="toggleSidebar()">Menú</span>
    </div>

    <div class="spacer"></div>

    <div class="sidebar-button">
      <mat-icon class="icon-button">person</mat-icon>
      <span *ngIf="isOpened" class="label-button">Usuario</span>
    </div>

    <div class="sidebar-button">
      <mat-icon class="icon-button">shopping_bag</mat-icon>
      <span *ngIf="isOpened" class="label-button">Tienda</span>
    </div>

    <div class="sidebar-button">
      <mat-icon class="icon-button">bookmark</mat-icon>
      <span *ngIf="isOpened" class="label-button">Favoritos</span>
    </div>

    <div class="sidebar-button">
      <mat-icon class="icon-button">settings</mat-icon>
      <span *ngIf="isOpened" class="label-button">Configuración</span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{ 'expanded': isOpened, 'collapsed': !isOpened }">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>