.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel-button {
    color: white;
    background-color: #45858f;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 15px;
}

.carousel-container {
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 10px;
    width: 100%;
    max-width: 670px;
    transition: transform 0.2s ease;
}

.carousel-container.move-left {
    transform: translateX(-2.5%);
}
  
.carousel-container.move-right {
    transform: translateX(2.5%);
}

.state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}

.carousel-image {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.carousel-label {
    margin: 0;
}